---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="w-4/5 mx-auto">
    <h1 class="text-xl font-bold">About</h1>
    <p>
      The SS AMU SAT project is an initiative by the Students and Alumni of
      Zakir Husain College of Engineering and Technology. The project was
      concieved during a discussion among a small group of students and alumni
      during the Winters of 2021, at the AMU RoboClub. Finally, in the early
      week of December, 2021, this project kick-started after everal rounds of
      discussions. It is pertinent to mention that there has also been an
      observation of the NAAC committee, that visited in December 2021, to
      innovate in the area of Aerial Technology; and thus, the timing of this
      project could never have been more suited. In the weeks to come, the team
      grew from a handful to a dozen, to design the following subsystems:
      <ul>
        <li>Electrical Power System</li>
        <li>Payload</li>
        <li>Attitude Determination and Control System</li>
        <li>Communication Systems</li>
      </ul>
      Many alumni have been called in for help and guidance. Experts from ISRO and
      people with prior experience in satellite design have been helping to make
      this project a success, and eventually commissioning in the Lower Earth Orbit
      (LEO).
    </p>

    <h2 class="text-xl font-bold">Objective</h2>
    <p>
      The vision of SS AMU SAT is to raise awareness and educate the students in
      the field of Space Technology and create an ecosystem for Satellite
      Development. The primary objective of this is to demonstrate a Novel Image
      Compression Technique to establish a faster multimedia transmission.
      Additionally, the project aims to monitor the economic growth of our
      Nation using Satellite Imagery and a novel machine learning algorithm. The
      acquired data shall be compared with the existing economic data available
      on public domain and any deviation will be duly evaluated and reported.
      This system shall bridge the gap between theoritical implementation and
      the actual outcome of economic policies. It is planned to make all the raw
      data available in public domain for researchers, economists and data
      scientists. In addition to the above, this project shall also serve as a
      platform to test the in-house built components such as - ADCS Bus, Payload
      Bus, EPS Bus and the 3U Satellite Bus.
    </p>
  </main>
</Layout>

<style>
  li {
    list-style-type: disc;
  }
</style>
