---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Timeline from "../components/Timeline.astro";
---

<Layout title="SSAMUSAT">
  <main class="w-11/12 mx-auto px-2">
    <Hero />
    <!-- <Timeline /> -->
    asldkajskldajdklasd
  </main>
</Layout>
