---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
// import Hero1 from "../components/Hero1.astro";
import Features from "../components/Features.astro";
import Timeline from "../components/Timeline.astro";
import Simulation from "../components/Simulation.astro";
---

<Layout title="SSAMUSAT">
  <main>
    <Hero />
    <Features />
    <Simulation />
    <Timeline />
  </main>
</Layout>
