<div class="wrapper mt-20" id="features">
  <section class="flex flex-col justify-center gap-10">
    <h2 class="text-2xl font-bold text-center">Features</h2>
    <div class="flex flex-col md:flex-row items-center gap-4">
      <div class="flex-1">
        <div class="flex flex-col gap-10 mt-5">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="inline-block w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 7.5l-9-5.25L3 7.5m18 0l-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9"
              ></path>
            </svg>

            <h3 class="inline-block text-xl font-semibold">Small</h3>
            <p class="mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              et officiis rerum mollitia reprehenderit dicta cum, corrupti est
              pariatur tenetur quos fugit vitae neque recusandae adipisci quas
              quibusdam odit aperiam?
            </p>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="inline-block w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 15a4.5 4.5 0 004.5 4.5H18a3.75 3.75 0 001.332-7.257 3 3 0 00-3.758-3.848 5.25 5.25 0 00-10.233 2.33A4.502 4.502 0 002.25 15z"
              ></path>
            </svg>

            <h3 class="inline-block text-xl font-semibold">Lightweight</h3>
            <p class="mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              et officiis rerum mollitia reprehenderit dicta cum, corrupti est
              pariatur tenetur quos fugit vitae neque recusandae adipisci quas
              quibusdam odit aperiam?
            </p>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="inline-block w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
              ></path>
            </svg>

            <h3 class="inline text-xl font-semibold">Beautiful</h3>
            <p class="mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
              et officiis rerum mollitia reprehenderit dicta cum, corrupti est
              pariatur tenetur quos fugit vitae neque recusandae adipisci quas
              quibusdam odit aperiam?
            </p>
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div class="tg-wrap bg-stone-300 rounded-xl p-6 mt-10">
          <table class="border-separate border-spacing-2">
            <tbody>
              <tr>
                <td>Name</td>
                <td>SS AMU SAT<br /></td>
              </tr>
              <tr>
                <td>CubeSat Size<br /></td>
                <td>3U</td>
              </tr>
              <tr>
                <td>Dimensions<br /></td>
                <td>300mm x 100mm x 100mm</td>
              </tr>
              <tr>
                <td>Weight<br /></td>
                <td>~3500 gm<br /></td>
              </tr>
              <tr>
                <td>Type of Orbit<br /></td>
                <td>Circular Polar Orbit in LEO</td>
              </tr>
              <tr>
                <td>Power<br /></td>
                <td>Solar and Battery Powered<br /></td>
              </tr>
              <tr>
                <td>Altitude<br /></td>
                <td>Available with Magneto-torquers and reaction wheels</td>
              </tr>
              <tr>
                <td>Payload<br /></td>
                <td>On-board Camera<br /></td>
              </tr>
              <tr>
                <td>Communication System<br /></td>
                <td>Beacon on VHF, UPLINK and DOWNLINK<br /></td>
              </tr>
              <tr>
                <td>Chassis Material</td>
                <td>Aluminium<br /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
