---
import logo_dark from "../assets/logo.jpeg";
import logo_light from "../assets/logo-dark.jpeg";
---

<header class="flex justify-between items-center">
  <h1 class="text-xl">SSAMUSAT</h1>
  <button>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.75"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
    </svg>
  </button>
  <nav class="hidden sm:block">
    <ul class="flex gap-4">
      <li><a href="#">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Timeline</a></li>
      <li><a href="#">Sponsors</a></li>
      <li><a href="#">Team</a></li>
    </ul>
  </nav>
</header>
