---
import logo from "../assets/logo.jpeg";
---

<div class="bg-gray-800">
  <div class="wrapper">
    <header class="flex justify-between items-center text-white py-4">
      <a href="/" class="text-2xl font-bold"> SSAMUSAT</a>
      <nav class="hidden lg:block">
        <ul class="flex gap-8">
          <li><a href="/about" class="font-semibold">About</a></li>
          <li>
            <a href="/ssamusat/#features" class="font-semibold">Features</a>
          </li>
          <li><a href="#" class="font-semibold">Timeline</a></li>
          <li><a href="#" class="font-semibold">Sponsors</a></li>
          <li><a href="#" class="font-semibold">Contact Us</a></li>
        </ul>
      </nav>
      <!-- Mobile Menu -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="lg:hidden w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>

      <nav class="hidden mobile-menu">
        <ul class="">
          <li class="active">
            <a
              href="/about"
              class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300"
              >Services</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300"
              >About</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
