---
import logo from "../assets/logo.jpeg";
---

<div class="bg-gray-800">
  <div class="wrapper">
    <header class="flex justify-between items-center text-white py-4">
      <a href="/" class="text-2xl font-bold"> SSAMUSAT</a>
      <nav>
        <ul class="flex gap-8">
          <li><a href="/about" class="font-semibold">About</a></li>
          <li><a href="#" class="font-semibold">Features</a></li>
          <li><a href="#" class="font-semibold">Timeline</a></li>
          <li><a href="#" class="font-semibold">Sponsors</a></li>
          <li><a href="#" class="font-semibold">Contact Us</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div>
