<div class="bg-[#e6e7d5]">
  <div class="mt-20 wrapper">
    <section class="flex flex-col py-10 h-screen">
      <div class="flex-1 text-center">
        <h2 class="font-bold text-2xl">Simulation</h2>
        <p>A simulation of the spacecraft in orbit</p>
      </div>
      <iframe
        class="mt-5 70vh"
        height="1000"
        width="auto"
        src="https://www.youtube.com/embed/9fXqyireh5Q"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </section>
  </div>
</div>
