---
import TimelineCard from "./TimelineCard.astro";
---

<div class="wrapper">
  <section class="mt-20 flex flex-col items-center gap-8">
    <h2 class="text-center text-2xl font-bold">Timeline</h2>
    <ol
      class="flex flex-col md:flex-row gap-4 max-w-sm md:max-w-full md:justify-evenly"
    >
      <li>
        <div class="bg-slate-300 rounded-xl p-4">
          <time datetime="" class="text-slate-500">20 May</time>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
            repudiandae!
          </p>
        </div>
      </li>
      <li>
        <TimelineCard
          date="30 May"
          update="Applied to IN-SPACe (ISRO) for Technical Support and Launch readiness."
        />
        <li>
          <div class="bg-slate-300 rounded-xl p-4">
            <time datetime="">20 May</time>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
              repudiandae!
            </p>
          </div>
        </li>
        <li>
          <div class="bg-slate-300 rounded-xl p-4">
            <time datetime="">20 May</time>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt,
              repudiandae!
            </p>
          </div>
        </li>
      </li>
    </ol>
  </section>
</div>
